<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../../partials/head.ejs %>
</head>
<body class="container">
<link rel="stylesheet" href="/stylesheets/partials/nav-bar-style.css">
<header>
    <h1>Governance</h1>
    <% include ../../partials/header %>
</header>
<main>
    <% include ../../partials/main-upper.ejs %>
    <div class="col-md-6">
        <table class="table table-hover table-responsive">
            <thead class="thead-inverse">
            <tr>
                <th>Departments</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Collection Dept</td>
                <td>Community and Corporation</td>
            </tr>
            <tr>
                <td>Central Establishment</td>
                <td>Building Department</td>
            </tr>
            <tr>
                <td>Licencing Dept.</td>
                <td>Architechture Dept.</td>
            </tr>
            <tr>
                <td>Engineering Dept.</td>
                <td>Planning and Monitoring</td>
            </tr>
            <tr>
                <td>Horticulture</td>
                <td>Town Planning</td>
            </tr>
            <tr>
                <td>Education</td>
                <td>Land and Estate</td>
            </tr>
            <tr>
                <td>Public Health</td>
                <td>Labour Welfare Dept.</td>
            </tr>
            <tr>
                <td>Aayush Dept</td>
                <td>IT</td>
            </tr>
            <tr>
                <td>Law Dept</td>
                <td>Vigilance</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-6">
        <div class="row">
        <div class="col-md-4 col-sm-offset-2">
            <div>
                <h3>Mayor</h3>
                <img src="http://s1.firstpost.in/wp-content/uploads/2012/04/ProfRajniAbhi_DelhiMayor_Naresh.jpg"  class="img-responsive" alt="Image">
            </div>

        </div>
        <div class="col-md-4 col-sm-offset-2">
            <div>
                <h3>Mayor</h3>
                <img src="http://images.jagran.com/annapoorna-b-2-2-2012.jpg"  class="img-responsive" alt="Image">
            </div>

        </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-offset-2">
                <div>
                    <h3>Mayor</h3>
                    <img src="http://www.timescontent.com/photos/preview/46604/Arti-Mehra.jpg"  class="img-responsive" alt="Image">
                </div>

            </div>
            <div class="col-md-4 col-sm-offset-2">
                <div>
                    <h3>Mayor</h3>
                    <img src="http://images.financialexpress.com/2017/05/kamaljeet-sehrawat.jpg"  class="img-responsive" alt="Image">
                </div>

            </div>
        </div>
    </div>
</main>
<footer>

    <% include ../../partials/footer.ejs %>
</footer>
</body>
</html>