<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Zonal Mapping
            </a>
        </div>

    </div>
</nav>