<div class="well well-lg">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/overview">OverView</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Governance
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">General</a></li>
                        <li><a href="/overview">Departments</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Know Your Area
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">Residential</a></li>
                        <li><a href="/overview">Commercial</a></li>
                        <li><a href="/about">Industrial</a></li>
                        <li><a href="/overview">Open</a></li>
                        <li><a href="/about">Transport</a></li>
                        <li><a href="/overview">Amenities</a></li>
                        <li><a href="/about">Infrastructure</a></li>
                    </ul>
                </li>
                <li><a href="/dev-projects">Development Projects</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Complaints
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">Plot Areas</a></li>
                        <li><a href="/overview">Water Supply</a></li>
                        <li><a href="/about">Sewage Disposal</a></li>
                        <li><a href="/overview">Drainage</a></li>
                        <li><a href="/about">Road Network</a></li>
                        <li><a href="/overview">Electricity</a></li>
                        <li><a href="/about">Social</a></li>
                        <li><a href="/about">Green Areas</a></li>
                    </ul>
                </li>
<!--                <li><a href="/complaints">Complaint</a></li>-->
                <li><a href="/suggestions">Suggestions</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Downloads
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">Maps</a></li>
                        <li><a href="/overview">Colonies</a></li>
                        <li><a href="/about">Schools</a></li>
                        <li><a href="/overview">Doctors</a></li>
                        <li><a href="/about">RWA's</a></li>
                        <li><a href="/overview">Petrol Pumps</a></li>
                        <li><a href="/about">Industrial Associations</a></li>
                        <li><a href="/overview">Eating Joints</a></li>
                        <li><a href="/about">Emergency Helpline</a></li>
                    </ul>
                </li>
                <!--<li><a href="/downloads">Downloads</a></li>-->
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
