<div class="well well-lg">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/about">About Us</a></li>
                        <li><a href="/home/overview">OverView</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Governance
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/governance">General</a></li>
                        <li><a href="/governance/general">Departments</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Know Your Area
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/know-your-area/residential">Residential</a></li>
                        <li><a href="/know-your-area/commercial">Commercial</a></li>
                        <li><a href="/know-your-area/industrial">Industrial</a></li>
                        <li><a href="/know-your-area/open">Open</a></li>
                        <li><a href="/know-your-area/transport">Transport</a></li>
                        <li><a href="/know-your-area/amenities">Amenities</a></li>
                        <li><a href="/know-your-area/infrastructure">Infrastructure</a></li>
                    </ul>
                </li>
                <li><a href="/dev-projects">Development Projects</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Complaints
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/complaints/plotAreas">Plot Areas</a></li>
                        <li><a href="/complaints/waterSupply">Water Supply</a></li>
                        <li><a href="/complaints/sewageDisposal">Sewage Disposal</a></li>
                        <li><a href="/complaints/drainage">Drainage</a></li>
                        <li><a href="/complaints/roadNetworks">Road Network</a></li>
                        <li><a href="/complaints/electricity">Electricity</a></li>
                        <li><a href="/complaints/social">Social</a></li>
                        <li><a href="/complaints/greenAreas">Green Areas</a></li>
                    </ul>
                </li>
<!--                <li><a href="/complaints">Complaint</a></li>-->
                <li><a href="/suggestions">Suggestions</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Downloads
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/downloads/maps">Maps</a></li>
                        <li><a href="/downloads/colonies">Colonies</a></li>
                        <li><a href="/downloads/schools">Schools</a></li>
                        <li><a href="/downloads/doctors">Doctors</a></li>
                        <li><a href="/downloads/RWAs">RWA's</a></li>
                        <li><a href="/downloads/petrolpumps">Petrol Pumps</a></li>
                        <li><a href="/downloads/industrial-association">Industrial Associations</a></li>
                        <li><a href="/downloads/eating-joints">Eating Joints</a></li>
                        <li><a href="/downloads/emergency-helpline">Emergency Helpline</a></li>
                    </ul>
                </li>
                <!--<li><a href="/downloadownloadsoads</a></li>-->
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
